<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="warn"/>
<!--    <logger name="io.vertx" level="TRACE"/>-->
    <logger name="org.lightink.reader" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>